{% extends 'kitchen-dashboard/kitchen-dashboard-main.html' %}
{% block content %}
<div class="container">
    <div class = "container__kitchen">
        <div class = "container__kitchen-welcome">
            <h1 class = "welcome-title">Welcome</h1>
        </div>
        <div class = "container__kitchen-info">
            <div class = "container__kitchen-info__image"> 
                <img src="{{user.image.url}}" id="profile-img" alt="">
            </div>
            <h2 class = "user-title">{{user.kitchen_name}}</h2>
        </div>
    </div>
    <div class = "container__orderInfo">
        <h2 class = "order-status">Order <span class = "status">Status</span></h2>
        <div class = "container__orderInfo-status">
            <div class = "box container__oderInfo-total">
                <h3 class = "box-title">Total Order:</h3>
                <p class = "box-body">{{total}}</p>
            </div>
            <div class = "box container__oderInfo-pending">
                <h3 class = "box-title">Order Pending:</h3>
                <p class = "box-body">{{pending}}</p>
            </div>
            <div class = "box container__oderInfo-completed">
                <h3 class = "box-title">Order Completed:</h3>
                <p class = "box-body">{{completed}}</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}