{% extends 'main.html' %} 
{% block content%} 
{% load cart %}
<div class="container mt-5">
  <h1>Kitchen {{request.user.first_name}} logged in</h1>
  <div class="container d-flex">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product Image</th>
          <th scope="col">Product Name</th>
          <th scope="col">Product Price</th>
          <th scope="col">Product Description</th>
          <th scope="col">Product Ingredients</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for item in queryset %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>
            <img
              src="{{item.item_image.url}}"
              class="card-img-top"
              alt="..."
              width="150"
              height="150"
            />
          </td>
          <th>{{item.item_name}}</th>
          <td>Rs. {{item.item_price}}</td>
          <td>{{item.item_description}}</td>
          <td>{{item.item_ingredients}}</td>
          <td>
            <a href="{% url 'edit-product' item.id%}" class="btn btn-primary"
              >Edit</a
            >
          </td>
          <td>
            <a href="{% url 'delete-product' item.id%}" class="btn btn-danger"
              >Delete</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
