{% extends 'kitchen-dashboard/kitchen-dashboard-main.html' %} 
{% block content%} 
{% load cart %}
<div class = "product__container">
    <div class = "product__container-user">
        <div class = "product__container-user__info">
            <div class = "product__container-user__info-image">
                <img src="{{user.image.url}}" id="profile-img" alt="">
            </div>
            <div class = "product__container-user__info-detail">
                <h3>{{user.kitchen_name}}</h3>
                <p>{{user.phone_number}}</p>
            </div>
        </div>
    </div>

    <div class = "product__container-item">
        <div class = "product_container-item__heading">
            <div class = "menu__title">
                <h2>Menu</h2>
            </div>
            <div class = "menu__addItem">
                <a href = "{% url 'add-product'%}">Add Item</a>
            </div>
        </div>

        <div class = "product__container-item__container">
            <div class = "product__container-item__container-table">
                <div class = "product__container-item__contianer-table__title">
                        <h3 class = "item-image">Item Image</h3>
                        <h3>Name</h3>
                        <h3>Price</h3>
                        <h3>Description</h3>
                        <h3>Edit/Delete</h3>
                    </td>
                </div>
                <div class = "product__container-item__contianer-table__body">
                    {% for item in queryset %}
                    <div class = "item-container">
                        <div class="imgcover"><img src = "{{item.item_image.url}}"/></div>
                        <p>{{item.item_name}}</p>
                        <p>Rs. {{item.item_price}}</p>
                        <p>{{item.item_description|truncatechars:20}}</p>
                        <div class = "item-table-button">
                             <a href="{% url 'edit-product' item.id%}" class="success-btn">Edit</a><a href="{% url 'delete-product' item.id%}" class="danger-btn">Delete</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div> 
        </div>
    </div>
</div>
{% endblock %}
