{% extends 'plain-main.html'%}
{% block content %}
{% load static %}
{% load cart %}
<link rel="stylesheet" href = "{% static 'css/checkout.css'%}"/>
<div class="delivery-container">
    <div class= "image-container">
        <a href = "{{request.META.HTTP_REFERER}}"><i class="fa-solid fa-arrow-left-long"></i> Back</a> 
        <img src="{% static 'images/checkout/delivery-girl.png'%}" alt="delivery-girl">
    </div>
    <div class="order-section">
        <h1>Order Confirmation</h1>
        
        <form class="delivery-address" method = "POST">
            {% csrf_token %}
            <label for="delivery-address">Delivery Location</label>
            <input type="text" name="address" placeholder="Enter Address" required>
            <input type="text" name="phone_no" placeholder="Enter Contact no." required>
            <h3 class="order-details">Order Details</h3>
            <div class="items-container">
                {% for item in item%}
                    <div class="item">
                    <p>{{item.item_name}}</p>
                    <p>x{{item|get_quantity:request.session.cart}}</p>
                    <p class="highlight">{{item|get_item_total:request.session.cart}}</p>
                    </div>
                {% endfor %}
            </div>
            <div class = "time_option">
                <label for="deliveryDate">Select Delivery Date:</label>
                <select id="deliveryDate" name="deliveryDate">
                
                </select>
                <p class = "red">*You can select delivery date today or tommorow only.</p>
                
                <label for="deliveryTime">Select Delivery Time:</label>
                <select id="deliveryTime" name="deliveryTime">
                    <!-- Dynamically populate time slots from 9 am to 9 pm with 1-hour intervals -->
                    
                </select>
                <p class = "red">*Choose a time that is one hour ahead of the current time.</p>
            </div>
        
            <div class="total">
                <div class="label"><span class="highlight">Total</span></div>
                <input type = "number" name = "total_amount" value = {{item|get_cart_total:request.session.cart}} hidden/>
                <div class="price"><span class="highlight">Rs. {{item|get_cart_total:request.session.cart}}</span></div>
            </div>
            <div class="payment__option">
                <div class="payment-label">Payment via.</div>
                    <div class="payment__option-button">
                        <div class = "payment__option-button__choice">
                            {% comment %} <form  method = "POST">
                                {% csrf_token %}  {% endcomment %}
                                    <input type="hidden" name="purchase_order_id" value="{{uuid}}"  id="pid">
                                    <input type="hidden" name="amount" value="{{item|get_cart_total:request.session.cart}}" id="amt">
                                    
                                    <input type="hidden" name="return_url" value="http://127.0.0.1:8000/khalti-verify">
                            {% comment %} </form> {% endcomment %}

                            {% comment %} <form method ="POST"> {% endcomment %}
                                {% comment %} {% csrf_token %}  {% endcomment %}
                                {% comment %} <input type = "submit" class = "btn-cod" name = "payment_method" value = "Cash on Delivery"/>  {% endcomment %}
                            {% comment %} </form> {% endcomment %}
                             <input type = "radio" name = "payment_method" value="Khalti"/><img src = "{% static 'images/checkout/Khalti.png'%}"/>
                            <input type = "radio" name = "payment_method" value = "Cash on Delivery"/><img src = "{% static 'images/checkout/CashonDelivery.png'%}"/> 
                        </div>
                    </div>
                </div>
                <button type="submit" class="pay-btn">PLace Order</button>

            </div>
        </form>
</div>
{% endblock content %}