{% extends 'plain-main.html'%}
{% block content %}
{% load static %}
<link rel = "stylesheet" href = "{% static 'css/customerorderstyle.css' %}"/>
<div class = "order-main-container ">
<div class="order-container">
    <h1>My Order</h1>
    <p class = "imp">*Dear Customer, You can cancel your order within 15 min of order you made. Thank you.</p>
    <table class="table">
      <thead>
          <th scope="col">Order date</th>
          <th scope="col">Order QRCode</th>
          <th scope="col">Product Name</th>
          <th scope="col">Quanity</th>
          <th scope="col">Price</th>
          <th scope="col">Order status</th>
          <th></th>
      </thead>
      <tbody>
        <div class = "order-item">
        {% for item in order %} 
          <tr>
              <td>{{item.date_ordered}}</td>
              <td><img class = "image" src = "{{item.qrcode.qr_code.url}}"/></td>
              <td>{{item.item.item_name}}</td>
              <td>x{{item.quantity}}</td>
              <td>Rs{{item.price}}</td>
              {% if item.order_status == "ready"%}
              <td><span class = "btn btn-success">{{item.order_status}}</span></td>
              {% elif item.order_status == "in-making"%}
              <td><span class = "btn btn-warning">{{item.order_status}}</span></td>
              {% else %}
              <td><span class = "btn btn-danger">{{item.order_status}}</span></td>
              {% endif %}
              <td>
                
              {% if item.date_ordered >= fifteen_min_ago  %}
                  <!-- Display cancel button only for orders placed within the last hour -->
                  <form method="post">
                      {% csrf_token %}
                      <input type="hidden" name="order_id_to_cancel" value="{{ item.id }}">
                      <button type="submit">Cancel Order</button>
                  </form>
              {% else %}
                    <!-- Display a message indicating the order cannot be canceled -->
                  <p class = "red">Cannot cancel this order. The cancellation window has expired.</p>
              {% endif %}
                </td>

          </tr>
        {%endfor%}
        </div>
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}