{% extends 'kitchen-dashboard/kitchen-dashboard-main.html' %} {% block content%}
{% load cart %}
<div class="product__container">
  <div class="product__container-user">
    <div class="product__container-user__info">
      <div class="product__container-user__info-image">
        <img src="{{user.image.url}}" id="profile-img" alt="" />
      </div>
      <div class="product__container-user__info-detail">
        <h3>{{user.kitchen_name}}</h3>
        <p>{{user.phone_number}}</p>
      </div>
    </div>
  </div>

  <div class="product__container-item">
    <div class="product_container-item__heading">
      <div class="menu__title">
        <h2>Orders</h2>
        <p class = "red">*Kitchen are requested to start proceeding order after 15 minutes of order made.</p>
      </div>
      <div class="menu__addItem"></div>
    </div>

    <div class="product__container-item__container">
      <div class="product__container-item__container-table">
        <div class="order-product__container-item__contianer-table__title">
            <h3>Date Ordered</h3>
            <h3>Delivery time</h3>
            <h3>Name</h3>
            <h3>Qty</h3>
            <h3>Price</h3>
            <h3>Address</h3>
            <h3>Contact Info</h3>
            <h3>Status</h3>
            <h3>Completed</h3>
            <h3>Action</h3>
        </div>
        <div class="product__container-item__contianer-table__body">
            {% for item in order%} 
                <div class="order-item-container">
                    <p>{{item.date_ordered}}</p>
                    <p>{{item.order.delivery_date}}({{item.order.delivery_time_start}}- {{item.order.delivery_time_end}})</p>
                    <p>{{item.item.item_name}}</p>
                    <p>x{{item.quantity}}</p>
                    <p>Rs{{item.price}}</p>
                    <p>{{item.address}}</p>
                    <p>{{item.phone_no}}</p>
                    <div>
                        {% if not item.is_completed %}
                            <select name = "order_status" id="status">
                                {% if item.order_status == "pending"%}
                                    <option class="danger" value = "pending" selected>Pending</option>
                                    <option class="warning" value = "in-making" >In-Making</option>
                                    <option class="success" value = "ready">Ready</option>
                                {% elif item.order_status == "in-making" %}
                                    <option class="danger" value = "pending">Pending</option>
                                    <option class="warning" value = "in-making" selected>In-Making</option>
                                    <option class="success" value = "ready">Ready</option>
                                {% elif item.order_status == "ready"%}
                                    <option class="danger" value = "pending">Pending</option>
                                    <option class="warning" value = "in-making" >In-Making</option>
                                    <option class="success" value = "ready" selected>Ready</option>
                                {% endif %}
                            </select>
                        {% else %}
                            <span class = "success">{{item.order_status|capfirst}}</span>
                        {% endif %}
                    </div>
                    <div>
                        {% if item.is_completed%}
                            <input type="checkbox" name = "is_completed" checked/>
                        {% else %}
                            <input type="checkbox" name = "is_completed" />
                        {% endif %}
                    </div>
                    <button data-order = "{{item.id}}" data-action = "save"  class="success save-btn">Save</button>
                </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="product__container-item">
    <div class="product_container-item__heading">
      <div class="menu__title">
        <h2>Completed Order</h2>
      </div>
      <div class="menu__addItem"></div>
    </div>

    <div class="product__container-item__container">
      <div class="product__container-item__container-table">
        <div class="order-product__container-item__contianer-table__title">
            <h3>Product Image</h3>
            <h3>Name</h3>
            <h3>Order Date</h3>
            <h3>Qty</h3>
            <h3>Price</h3>
            <h3>Address</h3>
            <h3>Contact Info</h3>
        </div>
        <div class="product__container-item__contianer-table__body">
            {% for item in order_completed%} 
                <div class="order-item-container">
                    <p>{{item.item.item_name}}</p>
                    <p>{{item.date_ordered}}</p>
                    <p>x{{item.quantity}}</p>
                    <p>Rs{{item.price}}</p>
                    <p>{{item.address}}</p>
                    <p>{{item.phone_no}}</p>
                </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
