

.container{
    background-color: white;
    padding: 40px;
    margin-left: 50px;
    margin-top: 20px;
    width: 40%;
    height: 70%;
    border-radius: 20px;
    box-shadow: 0px 0px 3px 0px #262626;
}

table{
    gap: 20px;
}
td{
    padding: 20px;
}
table{
    width: 100%;
}
tr .value{

    margin-left: auto;
}
#save
{
   padding:5px 20px;
}
