@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
*,
html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  display: flex;
  height: 100vh;
}
/*NavBar*/

nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0.8rem 1rem;
  box-shadow: -3px 0px 15px 0px #262626;
}

.nav_menu {
  display: flex;
  justify-content: center;

  height: 100%;
}

ul {
  margin: 1rem 0;
}

ul li {
  list-style-type: none;
  margin: 2rem 0;
}

li a {
  text-decoration: none;
  color: #000;
  width: 100%;
  font-weight: 700;
  padding: 1rem 1rem;
  margin: 2rem 0;
}

li a:hover {
  background-color: #dc2234;
  color: #fff;
  border-radius: 10px;
}
