@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
*,
html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins";
}

.product__container {
  width: 100%;
}
.product__container-user {
  margin: 1rem 3rem;
}

.product__container-user__info {
  display: flex;
  padding: 1rem 0;
}

.product__container-user__info-image {
  width: 70px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1.2rem 0 0;
}
.product__container-user__info-image img {
  width: 100%;
  border-radius: 50%;
  object-fit: contain;
}

/*Menu Container*/

.product__container-item {
  margin: 3rem 3rem;
  height: 70%;
}

.product_container-item__heading {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.menu__addItem {
  display: flex;
  justify-content: flex-end;
}

.menu__addItem a {
  padding: 0.5rem 1rem;
  background-color: #194eb7;
  text-decoration: none;
  color: #fff;
  border-radius: 10px;
}

/*Table*/

.product__container-item__container {
  height: 100%;
}
.product__container-item__container-table {
  height: 100%;
  margin: 2rem 0;
}

.product__container-item__contianer-table__title {
  background-color: #dc2234;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1rem;
  color: #fff;
  position: sticky;
}

.order-product__container-item__contianer-table__title {
  background-color: #dc2234;
  display: flex;
  justify-content: space-evenly;
  padding: 0.8rem 1rem;
  color: #fff;
  position: sticky;
}


.product__container-item__contianer-table__body {
  position: sticky;
  overflow-y: scroll;
  height: 80%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.item-container {
  margin: 1.2rem 0;
  height: 118px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order-item-container{
    margin: 2rem 0;
  
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imgcover {
  height: 118px;
  width: 200px;
}

.imgcover img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.item-table-button {
  display: flex;
  gap: 1rem;
}
.item-table-button a {
  text-decoration: none;
  color: #fff;
}

.success-btn {
  background-color: #194eb7;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.danger-btn {
  background-color: #dc2234;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.success{
    background-color: lightgreen;
}
.danger{
    background-color: red;
}
.warning{
    background-color: orange;
}

/*product*/
.product-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
}

.product-form-container .form{
    background-color: rgb(221, 221, 221);
    padding: 20px 50px;
    width: 70%;
    border-radius: 10px;
}
.form h1{
    text-align: center;
}
.form div{
    margin: 10px 0;
    text-align: center;
}

.form div label{
    display: block;
    margin: 1rem 0;
}

.form div input{
    width: 100%;
    padding: 1rem 1rem;
}
.form div textarea{
    width: 100%;
    padding: 1rem 1rem;
}

.form div input[type="file"]{
    background-color: white;
    width: 50%;
    padding: 0;
}

.form .btn-primary{
    background-color: rgb(51, 221, 51);
    padding: 1rem;
    width: 100%;
    border: none;
    color: white;
}
.form div.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem
}

.form button:hover{
    cursor: pointer;
}

.red{
  color: #dc2234;
  font-size: 0.8rem;
}