@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
*,
html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins";
}

.container {
  width: 100%;
  padding: 1rem 2rem;
}

.container__kitchen {
  box-shadow:rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__kitchen-welcome {
  margin: 0.5rem 0;
}

.welcome-title {
  font-size: 3rem;
}

.container__kitchen-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 0 1rem 0;
}

.container__kitchen-info__image {
  border-radius: 50%;
  margin: 0 0 1rem 0;
  height: 200px;
  width: 200px;
  object-fit: contain;
}

.container__kitchen-info__image img {
  border-radius: 50%;
  width: 100%;
}

.container__orderInfo {
  display: flex;
  margin: 1rem 0;
  justify-content: center;
  flex-direction: column;
}

.container__orderInfo-status {
  display: flex;
  justify-content: center;
}
.order-status {
  font-size: 2rem;
  text-align: center;
  padding: 1rem 0;
  text-decoration: underline;
}
.status {
  color: #dc2234;
}
.box {
  height: 180px;
  width: 250px;
  margin: 1rem 2rem;
  border-radius: 10px;
  padding: 1rem 1rem;
}
.container__oderInfo-total {
  background-color: #194eb7;
}

.container__oderInfo-pending {
  background-color: #dc2234;
}

.container__oderInfo-completed {
  background-color: #24c31e;
}

.box-title {
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem 0;
  border-bottom: 2px solid white;
}

.box-body {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  padding: 1rem 0;
}
