{% extends 'login-signup/login-signup-main.html'%}
{% load static %}
{% block content %}
<div class="verification-container">
    <div class = "forgotpassword-container">
        <form method = "POST" class = "forgotpassword-container__form">
            {% csrf_token %}
            <h2 class = "verification-title">Reset your password</h2>
            <label>New Password</label>
            <input type = "password" name = "password" />
            <label>Re-enter New Password </label>
            <input type = "password" name = "password2"/> 
            <button>Reset Password</button>
            <p>Don't need to do this? <a href = "{% url 'login-page'%}">Log in</a>
        </form>
    </div>
</div>
{% endblock %}