{% extends 'login-signup/login-signup-main.html'%}
{% load static %}
{% block content %}
<div class="verification-container">
    <div class = "forgotpassword-container">
        <form method = "POST" class = "forgotpassword-container__form">
            {% csrf_token %}
            <h2 class = "verification-title">Forgot Password?</h2>
            <p class = "verification-body">No worries, we'll send you reset instructions.</p>
            <input type = "email" class = "forgot-email-field" name = "email" placeholder = "Enter your email"/>
            <button>Reset Password</button>
            <a href = "{% url 'login-page'%}">Back to login</a>
        </form>
    </div>
</div>
{% endblock %}