@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*,html,body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    background-image: url(../images/backgroundimg.png);
    background-size: 600px;
    font-family: 'Poppins';
}

nav{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
}
.icons
{
    margin-left: auto;
    margin-right: 30px;
}
.icons i{
    margin:15px;
}
.myproducts
{
    background-color: rgb(81, 81, 81);
    width: 80%;
    height: 60vh;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    box-shadow: 0px 0px 6px 0px #262626;
    color: black;
    margin-top: 10px;
    border-radius: 10px;
}
header{
    margin: 0px;
}

.item{
    border-bottom: none;
}
thead tr th{
    padding: 10px;
}

.tablefixhead {
    overflow-y: scroll; 
    height: 440px; 
    
}


/*Footer Section*/
/*footer-logo*/
footer{
    background: #F3F3F3;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

  }
  
  /*Footer Container*/
  .footer-container{
    display: flex;
    padding: 40px 0px 30px 115px;
    margin-right:0%;
    gap: 35px;  
  }
  
  /*Logo*/
  .footer-logo  {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 18px;
    
  }
  
  /*Logo Icon*/
  .footer-logo img{
    width: 28.916px;
  height: 28.916px;
    
  }
  
  /*Gharchulo ABout*/
  .about{
    font-size: 11.41px;
    font-weight: 400;
    max-width: 294.835px;
    margin:0%;
    
  }
  
  /*Footer Headings*/
  .footer-title{
    font-size: 15.804px;
  font-weight: 600;
  
  }
  
  .explore {
    padding-top:3.5px;
    
    
  }
  .get-help {
    padding-top:3.5px;
  }
  .customer-service
  {
    padding-top:3.5px;
  
  }
  
  /*Footer SubHeadings*/
  .footer-container li{
    list-style: none;
    font-size: 12.463px;
    font-weight: 300;
    padding-top: 0%;
    padding-bottom:7px;
   
  }
  
  
  .social-icons {
  font-size: 32px;
  display:flex;
  gap: 1rem;
  margin-top: 9px;
  
  }
  /*Footer Section ENd*/
