{% load static %}
<footer>
    <div class="footer-container">
        <div class="gharchulo">
            <div class="footer-logo">
                <img src="{% static 'images/login-image/logo_ok.svg'%}">
                <p>Ghar<span style="font-weight: bolder;">Chulo</span></p>
            </div>
            <p class="about">We are GharChulo. We bridge the gap between passionate home chefs and food lovers, providing a space where homemade goodness takes center stage.</p>
            <div class="social-icons">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
        </div>
        <div class="explore">
            <ul>
                <h3 class="footer-title">Explore</h3>
                <li>About us</li>
                <li>Delivery Charges</li>
            </ul>
        </div>
        <div class="get-help">
            <ul>
                <h3 class="footer-title">Get-Help</h3> 
                <li>Terms of Services</li>
                <li>How to Order?</li>
                <li>FAQs</li>
                
            </ul>
        </div>
        <div class="customer-service">
            <ul>
                <h3 class="footer-title">Customer Service</h3> 
                <li>Kathmandu 56565656</li> 
                <li>Lalitpur 96969696</li> 
            </ul>
        </div>
    </div>
</footer>