{% load cart %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home'%}">GharChulo </a>
    {% if request.user.is_authenticated%}
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% if request.user.is_kitchen %}
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="{% url 'add-product'%}" class="btn btn-success">Add Items</a>
          <a href="{% url 'kitchen-order'%}" class="btn btn-primary">Orders</a>
        </li>
      </ul>
      {% endif %} {% if request.user.is_customer %}
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <form class="d-flex me-5" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </ul>
        <form class="d-flex me-3" id = "order-cart" role="search">
          {% if request.session.cart %}
            <a href="{% url 'cart'%}" class="btn btn-success">Cart {{request.session.cart|get_total_quanity}}</a>
          {% else %}
            <a href="{% url 'cart'%}" class="btn btn-success">Cart</a>
          {%endif %}
        </form>
        <form class="d-flex me-3" id = "order-cart" role="search">
          <a href="{% url 'order-detail'%}" class="btn btn-primary">Order</a>
        </form>
      
        

      {% endif %}
      <form class="d-flex" role="search">
        <a href="{% url 'logout'%}" class="btn btn-danger">Logout</a>
      </form>
      {%else%}
      <form class="d-flex" role="search">
        <a
          href="{% url 'customer-signup'%}"
          class="btn btn-outline-success me-2"
          >SignUp as Customer</a
        >
        <a href="{% url 'kitchen-signup'%}" class="btn btn-primary"
          >SignUp as Kitchen</a
        >
        {% endif %}
      </form>
    </div>
  </div>
</nav>
